<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <p class="card-description">Use any of the available button classes to quickly create a styled button.
                </p>
                <div class="template-demo">
                    <button type="button" class="btn btn-primary btn-fw">Primary</button>
                    <button type="button" class="btn btn-secondary btn-fw">Secondary</button>
                    <button type="button" class="btn btn-success btn-fw">Success</button>
                    <button type="button" class="btn btn-danger btn-fw">Danger</button>
                    <button type="button" class="btn btn-warning btn-fw">Warning</button>
                    <button type="button" class="btn btn-info btn-fw">Info</button>
                    <button type="button" class="btn btn-light btn-fw">Light</button>
                    <button type="button" class="btn btn-dark btn-fw">Dark</button>
                    <button type="button" class="btn btn-link btn-fw">Link</button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Inverse buttons</h4>
                <p class="card-description">Use any of the available button classes to quickly create a styled button.
                </p>
                <div class="template-demo">
                    <button type="button" class="btn btn-inverse-primary btn-fw">Primary</button>
                    <button type="button" class="btn btn-inverse-secondary btn-fw">Secondary</button>
                    <button type="button" class="btn btn-inverse-success btn-fw">Success</button>
                    <button type="button" class="btn btn-inverse-danger btn-fw">Danger</button>
                    <button type="button" class="btn btn-inverse-warning btn-fw">Warning</button>
                    <button type="button" class="btn btn-inverse-info btn-fw">Info</button>
                    <button type="button" class="btn btn-inverse-light btn-fw">Light</button>
                    <button type="button" class="btn btn-inverse-dark btn-fw">Dark</button>
                    <button type="button" class="btn btn-link btn-fw">Link</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rounded buttons</h4>
                <p class="card-description">Use any of the available button classes to quickly create a styled button.
                </p>
                <div class="template-demo">
                    <button type="button" class="btn btn-primary btn-rounded btn-fw">Primary</button>
                    <button type="button" class="btn btn-secondary btn-rounded btn-fw">Secondary</button>
                    <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button>
                    <button type="button" class="btn btn-danger btn-rounded btn-fw">Danger</button>
                    <button type="button" class="btn btn-warning btn-rounded btn-fw">Warning</button>
                    <button type="button" class="btn btn-info btn-rounded btn-fw">Info</button>
                    <button type="button" class="btn btn-light btn-rounded btn-fw">Light</button>
                    <button type="button" class="btn btn-dark btn-rounded btn-fw">Dark</button>
                    <button type="button" class="btn btn-link btn-rounded btn-fw">Link</button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Inverse rounded buttons</h4>
                <p class="card-description">Use any of the available button classes to quickly create a styled button.
                </p>
                <div class="template-demo">
                    <button type="button" class="btn btn-inverse-primary btn-rounded btn-fw">Primary</button>
                    <button type="button" class="btn btn-inverse-secondary btn-rounded btn-fw">Secondary</button>
                    <button type="button" class="btn btn-inverse-success btn-rounded btn-fw">Success</button>
                    <button type="button" class="btn btn-inverse-danger btn-rounded btn-fw">Danger</button>
                    <button type="button" class="btn btn-inverse-warning btn-rounded btn-fw">Warning</button>
                    <button type="button" class="btn btn-inverse-info btn-rounded btn-fw">Info</button>
                    <button type="button" class="btn btn-inverse-light btn-rounded btn-fw">Light</button>
                    <button type="button" class="btn btn-inverse-dark btn-rounded btn-fw">Dark</button>
                    <button type="button" class="btn btn-link btn-rounded btn-fw">Link</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default buttons</h4>
                <p class="card-description">Use any of the available button classes to quickly create a styled button.
                </p>
                <div class="template-demo">
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Outlined buttons</h4>
                <div class="template-demo">
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Button sizes</h4>
                <div class="wrapper template-demo">
                    <button type="button" class="btn btn-light btn-lg">btn-lg</button>
                    <button type="button" class="btn btn-primary btn-lg">btn-lg</button>
                </div>
                <div class="wrapper template-demo">
                    <button type="button" class="btn btn-light">btn-md</button>
                    <button type="button" class="btn btn-primary">btn-md</button>
                </div>
                <div class="wrapper template-demo">
                    <button type="button" class="btn btn-light btn-sm">btn-sm</button>
                    <button type="button" class="btn btn-primary btn-sm">btn-sm</button>
                </div>
                <div class="wrapper template-demo">
                    <button type="button" class="btn btn-light btn-xs">btn-xs</button>
                    <button type="button" class="btn btn-primary btn-xs">btn-xs</button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Icon buttons</h4>
                <div class="template-demo">
                    <button type="button" class="btn btn-success"><i class="mdi mdi-cloud-download"></i>Upload</button>
                    <button type="button" class="btn btn-warning"><i class="mdi mdi-message-text"></i>Comments</button>
                    <button type="button" class="btn btn-danger"><i class="mdi mdi-upload"></i>Upload</button>
                    <button type="button" class="btn btn-info"><i class="mdi mdi-delete"></i>Delete</button>
                    <button type="button" class="btn btn-primary"><i class="mdi mdi-printer"></i>Print</button>
                    <button type="button" class="btn btn-success"><i class="mdi mdi-loop"></i>Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>